.post-product {
    .sect-title {
        font-size: 22px;
        color: #c2185b;
        font-weight: normal;
        margin-top: 22px;
        margin-bottom: 17px;
        @media(max-width: 767px) {
            font-size: 16px;
            font-weight: bold;
            margin-top: 7%;
            margin-bottom: 10px;
        }
    }
}