.post-product {
    .sect-title {
        font-size: 22px;
        color: #c2185b;
        font-weight: normal;
        margin-top: 22px;
        margin-bottom: 17px;
        @media(max-width: 767px) {
            font-size: 16px;
            font-weight: bold;
            margin-top: 7%;
            margin-bottom: 10px;
        }
    }
    mat-form-field {
      line-height: 1.55rem;
      font-size: 0.905rem;
    }
}

.upload {
    margin: 1.25rem auto;
    label {
        display: flex;
        justify-content: center;
        img {
            width: 60px;
            height: 60px;
        }
    }
    input {
        display: none;
    }
    .label {
        text-align: center;
        margin-bottom: 0.75rem;
    }
}