.address {
    min-height: 100vh;
    mat-form-field {
        width: 100%;
        margin: 10px auto;
    }
    .title {
        color: #c2185b;
            font-size: 16px;
            font-weight: bold;
            @media(min-width: 768px) {
                font-size: 20px;
                font-weight: normal;
            }
    }
    .loading-bar {
        margin: auto;
    }

}