<section class="category">
  <div *ngIf="!category">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!category" class="no-user-spinner">
    <div class="text-center">
      <h4 class="no-user-info">Fetching Products </h4>
    </div>
  </div>
  <div class="container">
    <app-message></app-message>
    <h3 class="text-center mt-5" *ngIf="category && !category.products.length">No product in this category</h3>
    <div class="product" *ngIf="category && category.products.length">
      <h4 class="sect-title">All Products</h4>
      <p> {{ lower }} - {{ upper }} of {{ category.totalProducts }} products in {{ category.categoryName }} </p>
      <!-- <hr> -->
      <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6" *ngFor="let product of category.products">
          <a routerLink="/product/{{ product._id }}" class="product-cover">
            <div class="product-img">
              <img [src]="product.image" alt="">
            </div>
            <div class="product-details">
              <div class="price-rate">
                <div class="rating">
                  <ngb-rating [(rate)]="product.averageRating" [starTemplate]="t" [readonly]="true" max="5">
                  </ngb-rating>
                </div>
                <div class="price">{{ product.price | currency }}</div>
              </div>
              <div class="product-title">{{product.title}}</div>
              <div class="product-owner">
                <img src="{{ product.owner.picture }}" class="owner-pic" alt="">
                <div class="owner-name"><i>{{ product.owner.name }}</i></div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row paginatn">
        <ngb-pagination class="paginateDark" [collectionSize]="category.totalProducts" [(page)]="page"
        (pageChange)="getProducts($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</section>

<ng-template #t let-fill="fill">
  <span *ngIf="fill === 100" class="star full">&#9733;</span>
  <span *ngIf="fill === 0" class="star">&#9733;</span>
  <span *ngIf="fill < 100 && fill > 0" class="star">
    <span class="half" [style.width.%]="fill">&#9733;</span>
    &#9733;
  </span>
</ng-template>