.category {
    .no-user-spinner {
        margin: 11px auto;
        .no-user-info {
            margin: 5px auto;
        }
        mat-spinner {
            margin: 10px auto;
        }
    }
    .paginatn {
        margin-top: 4rem;
    }
    .sect-title {
        font-size: 22px;
        color: #c2185b;
        font-weight: normal;
        margin-top: 22px;
        @media(max-width: 767px) {
            font-size: 16px;
            font-weight: bold;
            margin-top: 7%;
        }
    }
    .product-cover {
        width: 93%;
        margin-bottom: 2rem;
        text-decoration: none;
        display: block;
        &:hover {
            text-decoration: none;
             .product-details {
                box-shadow: 0px 0px 3px rgba(0,0,0,.12);
             }
        }
        @media(max-width: 767px) {
           margin: 1.5rem auto;
        }
        .product-img {
            width: 100%;
            height: 52%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .product-details {
            padding: 0.75rem;
            box-shadow: 0px 0px 4px rgba(0,0,0,.12);
            color: #222;
            .cov {
                display: flex;
                justify-content: space-between;
                margin-top: 0.5rem;
                .price {
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: rgb(0, 189, 16);
                }
                .rating {
                    .star {
                        font-size: 1rem !important;
                    }
                }
                .product-title {
                    font-size: 0.875rem;
                    text-align: center;
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
            .product-owner {
                display: flex;
                justify-content: flex-start;
                margin-top: 1.25rem;
                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-right: 0.75rem;
                }
                .owner-name {
                    font-size: 0.875rem;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}