<section class="categories">
  <div *ngIf="!categories">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!categories" class="no-user-spinner">
    <div class="text-center">
      <h4 class="no-user-info">Fetching Categories </h4>
    </div>
  </div>
  <div class="container">
    <app-message></app-message>
    <h4 class="sect-title">All Categories</h4>
    <div class="row">
      <div class="col-md-3">
        <div class="add-new-category hide-sm">
          <h4 class="sub-sect create text-center"></h4>
              <div class="mt-2">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      Add New Category
                    </mat-card-title>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                  <br>
                  <mat-card-content>
                    <mat-form-field>
                      <input type="text" name="newCategory" matInput placeholder="Add new Category"
                        [(ngModel)]="newCategory">
                    </mat-form-field>

                    <br>
                    <div class="text-center">
                      <button type="button" mat-raised-button color="warn" (click)="addCategory()"
                        [disabled]="btnDisabled">Add
                        Category
                      </button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
        </div>
        <div class="add-new-category hide-md" *ngIf="toggleReview">
          <h4 class="sub-sect create text-center">You can as well create a new category</h4>
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <div class="mt-2">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      Add New Category
                    </mat-card-title>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                  <br>
                  <mat-card-content>
                    <mat-form-field>
                      <input type="text" name="newCategory" matInput placeholder="Add new Category"
                        [(ngModel)]="newCategory">
                    </mat-form-field>

                    <br>
                    <div class="text-center">
                      <button type="button" mat-raised-button color="warn" (click)="addCategory()"
                        [disabled]="btnDisabled">Add
                        Category
                      </button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        <div class="add-new-sm">
          <button mat-fab>
            <mat-icon (click)="showAddReview()">add</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-md-8 md-offset-1">
          <div class="container p-5">
            <div *ngIf="categories" class="row">
              <button mat-raised-button 
                routerLink="/categories/{{category._id}}" 
                class="col-md-3 col-xs-6 category-item"
                *ngFor="let category of categories">
                {{category.name | uppercase}}
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->

<!-- class="list-group-item list-group-item-action" -->