<section class="cart">
  <div class="container">
    <app-message></app-message>
    <div class="row" *ngIf="!cartItems.length">
      <h4 class="text-center no-cart-items display-6 mt-5">Cart is empty...ofurufu :(</h4>
    </div>

    <div class="row" *ngIf="cartItems.length">
      <div class="col-md-12">
        <div class="checkout-header">
          <div class="title">Your Cart</div>
          <span class="extra">You have {{cartItems.length}} item(s) in your cart</span>
        </div>
      </div>
      <div class="checkout-body">
        <div class="cart-item" *ngFor="let item of cartItems; let i=index, trackBy: trackByCartItems">
          <div class="row">
            <div class="col-md-6">
              <div class="right-col">
                <div class="item-image">
                  <a routerLink="/product/{{ item._id }}">
                    <img src="{{ item.image }}" alt="{{ item.owner.name }} image" class="img-fluid">
                  </a>
                </div>
                <div class="item-others">
                  <!--  -->
                  <div class="item-title">
                    <a class="product-title" routerLink="/product/{{ item._id }}">{{ item.title }}</a>
                  </div>
                  <!--  -->
                  <div class="item-id">
                    <span>ID: {{item._id.substring(0, 9)}}</span>
                  </div>
                  <!-- <div class="pick-tags a1" *ngIf="item.price <= 100">Cheapest outchea</div>
                  <div class="pick-tags a2" *ngIf="item.price <= 200">Marichupako</div>
                  <div class="pick-tags a3" *ngIf="item.price <= 300">Kapaichumari</div>
                  <div class="pick-tags a4" *ngIf="item.price > 300 ">Great Pick</div> -->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="left-col">
                <div class="edit-amount">
                  <input type="number" class="change-val" min="1" max="99" matInput [(ngModel)]="quantities[i]"
                    name="quantity" required>
                </div>
                <div class="rightmost">
                  <div class="product-price">
                    <span class="pprice">{{ item.price | currency }}</span>
                  </div>
                  <a routerLink="/" class="buy-later">Save for later</a>
                  <div class="del">
                    <a class="remove" (click)="removeProduct(i, item)">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subtotal-cover">
        <div class="checkout-subtotal">
          <div class="order-details">
            <div class="details">
              <div class="title">Order Sub-Total</div>
              <span class="tag">{{cartItems.length}} Item(s)</span>
            </div>
            <h3 class="value">{{ cartTotal | currency }}</h3>
          </div>
          <div class="checkout-btn">
            <button class="checkout" (click)="checkout()">CHECKOUT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>