<section class="single-product">
  <div *ngIf="!product">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!product" class="no-user-spinner">
    <div class="text-center">
      <h4 class="no-user-info">Fetching Product details... </h4>
    </div>
  </div>
  <div class="product-cover">
    <div class="container pb-5">
      <div class="product-details" *ngIf="product">
        <div class="row">
          <div class="col-md-7">
            <div class="img-cover">
              <img [src]="product.image" alt="productImage" class="image image-thumbnail img-responsive">
            </div>
          </div>
          <div class="col-md-5">
            <div class="details-cover">
              <div class="product-title text-center">{{ product.title }}</div>
              <div class="product-price text-center">{{ product.price | currency }}</div>
              <div class="product-rating text-center">
                <ngb-rating [(rate)]="product.averageRating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
              </div>
              <p class="product-category"> 
                <a routerLink="/categories/{{product.category._id}}">
                  <span class="pillz peach">{{ product.category.name }} </span>
                </a>
              </p>
              <p class="product-description">{{ product.description }}</p>
              <p class="product-owner"> <span>by: {{ product.owner.name }}</span></p>
            </div>
            <div class="add-to-cart text-center">
              <button class="standard-btn dark-bg" (click)="addToCart()">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>

      <div class="reviews-container">
        <div class="row">
          <div class="col-md-6">
            <div class="add-review">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    <h5 class="card-tt">Add a review</h5>
                  </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <br>
                <mat-card-content>
                  <form>
                    <mat-form-field>
                      <input type="text" name="title" matInput placeholder="title" [(ngModel)]="myReview.title" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                      <textarea matInput [(ngModel)]="myReview.description" name="description" rows="8"
                        placeholder="Share what you feel about the product" required></textarea>
                    </mat-form-field>
                    <br>
                    <label>Rating</label>
                    <br>
                    <ngb-rating [(rate)]="myReview.rating" [starTemplate]="t" [readonly]="false" max="5"></ngb-rating>
                    <br>
                    <br>
                    <button type="button" mat-raised-button color="primary" (click)="postReview()" [disabled]="btnDisabled">Share
                      Review</button>
                  </form>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-md-6">
            <div class="recent-reviews">
              <div class="reviews-title">Reviews and Rating</div>
              <div class="no-reviews" *ngIf="!product.reviews.length || !product.review">
                  <div class="no-review">Y'all ain't reviewing lately :| </div>
              </div>
              <div class="check-for-reviews" *ngIf="product.reviews && product.reviews.length">
                <div *ngFor="let review of product.reviews" class="review">
                  <div class="p-3">
                    <img [src]="review.owner.picture" alt="reviewer Image" width="75px" class="rounded-circle">
                    <p class="lead d-inline ml-3">{{ review.owner.name }} says:</p>
                    <br>
                    <br>
                    <ngb-rating [(rate)]="product.averageRating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                    <!-- <ngb-rating [(rate)]="product.reviews.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating> -->
                    <br>
                    <p class="ml-2 d-inline">{{ review.title }}</p>
                    <p class="mt-3"><em>"{{ review.description }}"</em></p>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<ng-template #t let-fill="fill">
  <span *ngIf="fill === 100" class="star full">&#9733;</span>
  <span *ngIf="fill === 0" class="star">&#9733;</span>
  <span *ngIf="fill < 100 && fill > 0" class="star">
    <span class="half" [style.width.%]="fill">&#9733;</span>
    &#9733;
  </span>
</ng-template>