section.profile {
    min-height: 100vh;
    padding: 2rem 0;
    font-weight: 300 !important;
    .no-user-spinner {
        margin: 11px auto;
        .no-user-info {
            margin: 5px auto;
        }
        mat-spinner {
            margin: 10px auto;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .btn-block {
        height: 40px;
        padding: 9px 10px;
    }
    img.profile-img {
        display: flex;
        width: 88px;
        margin: 1.25rem 0;
        @media(min-width: 768px) {
            width: 100px;
        }
    }
    .profile-welcome {
        font-weight: 500;
        span {
            font-weight: bold;
        }
    }
    .seller-container {
        .quick-action {
            color: #c2185b;
            font-weight: 500;
            font-size: 1rem;
        }
    }
    .action-section {
        margin: 1.5rem 0;
        button {
            display: block;
            margin: 1rem 0;
        }
    }
}