<section class="profile">
  <div *ngIf="!data.user">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="container">
    <div *ngIf="!data.user" class="no-user-spinner">
      <div class="text-center">
        <h4 class="no-user-info">Fetching your profile information : ) </h4>
      </div>
    </div>

    <div class="row" *ngIf="data.user">
      <!-- <div class="col-md-3">
        <div class="profile-welcome" id="name">Hey, <span>{{ data.user.name | uppercase }}</span> </div>
        <img [src]="data.user.picture" alt="userImage" class="rounded-circle profile-img image">
      </div> -->

      <div class="col-md-7 mx-auto">
        <div class="profile-welcome" id="name">Hey, <span>{{ data.user.name }}</span> </div>
        <img [src]="data.user.picture" alt="userImage" class="rounded-circle profile-img image">
        <div class="seller-container">
          <div class="action-section">
            <p class="quick-action" id="name"> Quick actions </p>
            <!-- <button mat-raised-button color="link" routerLink="/profile/orders">My Orders</button> -->
            <button mat-raised-button color="link" routerLink="/profile/settings">Change Account Settings</button>
            <button mat-raised-button color="link" routerLink="/profile/address">Change Shipping Address</button>
          </div>
          <div *ngIf="data.user.isSeller">
            <p class="quick-action">Seller Options</p>
            <div class="row">
              <div class="col-md-6 mb-3">
                <a routerLink="/profile/postproduct" class="btn btn-outline-success btn-block">Post product for sale</a>
              </div>
              <div class="col-md-6">
                <a routerLink="/profile/myproducts" class="btn btn-outline-success btn-block">My Products</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>