/* You can add global styles to this file, and also import other style files */
// #7db557
// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { 
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    font-size: 13px !important;
}

body { 
    margin: 0; 
    font-family: 'Open Sans', 'Roboto', sans-serif; 
}
.section, section {
    min-height: 100vh;
}

mat-form-field {
    width: 100%;
}

mat-icon {
    &:hover {
        cursor: pointer;
    }
}
.mb-20 {
    margin-bottom: 20px;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none !important;
}

input:active {
    outline: none !important;
    border: none !important;
}

ngb-rating:focus {
    border: 0 !important;
    outline: none !important;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: silver;
}
.full {
    color: gold;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: gold;
}

.no-user-info {
    font-size: 18px;
    margin-top: 13px;
    @media(max-width: 767px) {
        font-size: 15px;
    }
}


.pillz {
    padding: 4px 10px 6px;
    font-size: 13px;
    border-radius: 30px;
    font-weight: 500;
    margin: 7px;
    &.peach {
        color: #fff;
        background-color: #dc3545
    }
}

.standard-btn {
    width: 140px;
    height: 44px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 44px;
    box-shadow:  0  17px 10px -10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    border: none;
    text-transform: uppercase;
    @media(max-width: 767px) {
        font-size: 11px;
        width: 100px;
        height: 36px;
        border-radius: 35px;
    }
    &:hover {
        cursor: pointer;
    }
    &.dark-bg {
        color: #fff;
        background: #6c757d;
        &:hover {
            color: #fff;
            background-color: rgb(45, 223, 151);
            transform: translateY(-5px);
        }
    }
    &.green-bg {
        background-color:  rgb(45, 223, 151);
        color: #fff;
        &:hover {
            color: #000;
            background-color: #fff;
            transform: translateY(-5px);
        }
    }
}

.ghost-btn {
    background: none;
    width: 80%;
    margin: 15px auto;
    border: 1px solid #f84ca2;
    border-radius: 3px;
    height: 33px;
    font-size: 13px;
}