/* You can add global styles to this file, and also import other style files */
// #7db557
// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { 
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    font-size: 13px !important;
}

body { 
    margin: 0; 
    font-family: 'Open Sans', 'Roboto', sans-serif; 
}
.section, section {
    min-height: 100vh;
}

mat-form-field {
    width: 100%;
}

mat-icon {
    &:hover {
        cursor: pointer;
    }
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none !important;
}

input:active {
    outline: none !important;
    border: none !important;
}

ngb-rating:focus {
    border: 0 !important;
    outline: none !important;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: silver;
}
.full {
    color: gold;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: gold;
}