/* You can add global styles to this file, and also import other style files */
// #7db557
// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { 
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    font-size: 13px !important;
}

body { 
    margin: 0; 
    font-family: 'Open Sans', 'Roboto', sans-serif; 
}
.section {
    min-height: 600px;
}

mat-form-field {
    width: 100%;
}