<section class="search-results">
  <div *ngIf="!content">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!content && !noResult" class="no-user-spinner">
    <div class="text-center">
      <h4 class="no-user-info">chill nigga, loading... </h4>
    </div>
  </div>
  <!-- <div class="text-center" *ngIf="content">
    <p *ngFor="let product of content.searchData">
      <span>{{product.title}}</span>
    </p>
  </div> -->
  <div class="container">
    <h3 class="display-2 text-center mt-5" *ngIf="content && content.length == 0">No Results</h3>
    <div class="no-result" *ngIf="noResult">
      <h3 class="text-center noResult mt-5 display-4">We ain't findin' shit, mbok search beta thing :\</h3>
      <p class="text-center">
        <button routerLink="/" class=" btn btn-success btn-lg btn-outline text-center mt-3 mb-5 mx-auto">Bounce</button>
      </p>
    </div>
    <div *ngIf="content && content.length != 0">
      <p class="page-info p-20">Showing results for <span class="search-val bolder">"{{ query }}"</span> </p>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3 each-product" *ngFor="let product of content.searchData">
            <div class="my-content">
              <div class="top">
                <div class="entities">
                  <div class="bonus-off" *ngIf="product.price <= 300">20% 0ff</div>
                  <div class="bonus-off" *ngIf="product.price > 300">Best price</div>
                </div>
                <div class="image-cover">
                  <img [src]="product.image" alt="product Image" class="img-fluid result-image">
                </div>
              </div>
              <div class="bumbum">
                <div class="product-price"><span>{{ product.price | currency }}</span></div>
                <div class="product-title" routerLink="/product/{{ product._id }}">{{ product.title }}</div>
                <div class="product-dealer">by: <b> <span>{{ product.owner.name }}</span></b> </div>
              </div>
              <div class="add-to-cart text-center">
                <button class="ghost-btn">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <ngb-pagination class="paginateDark" [collectionSize]="content.nbHits" [pageSize]="20" [(page)]="page"
        (pageChange)="getProducts()"></ngb-pagination> -->
    </div>
  </div>
</section>

<ng-template #t let-fill="fill">
  <span *ngIf="fill === 100" class="star full">&#9733;</span>
  <span *ngIf="fill === 0" class="star">&#9733;</span>
  <span *ngIf="fill < 100 && fill > 0" class="star">
    <span class="half" [style.width.%]="fill">&#9733;</span>
    &#9733;
  </span>
</ng-template>
