.search-results {
    background: #f5f5f5;
    .page-info {
        font-size: 13px;
        font-weight: 400;
        .search-val {
            color: darkred;
            font-weight: 600;
            font-size: 14px;
        }
    }
    .noResult {
      color: rgb(5, 56, 0);
    }
    .each-product {
        padding: 14px 7px;
        @media(max-width: 767px) {
            width: 100%;
        }
        a.my-content {
            text-decoration: none;
        }
        .my-content {
            border: 1px solid #28a72852;
            border-radius: 5px;
            width: 94%;
            background: #ffffff;
            margin: 10px auto;
            padding: 10px;
            height: max-content;
            &:hover {
                cursor: pointer;
            }
            @media(max-width: 767px) {
                width: 93%;
                height: max-content;
            }
        }
        .top {
            .entities {
                display: flex;
                justify-content: space-between;
                .loved {
                    margin-right: auto;
                    .hearted {
                        &:hover {
                            color: rgb(179, 47, 255);
                        }
                    }
                }
                .bonus-off {
                    background: #28a745;
                    border-bottom-right-radius: 4.0625rem;
                    border-top-right-radius: 4.0625rem;
                    color: #fff;
                    display: inline-block;
                    font-size: 10px;
                    font-weight: 600;
                    padding: .2rem .5rem .625rem;
                    text-align: center;
                    text-transform: uppercase;
                    z-index: 9;
                    height: 20px;
                    margin-left: -10px;
                }
            }
            .image-cover {
                width: 100%;
                display: flex;
                justify-content: center;
                img {
                    width: 89%;
                    height: 100%;
                    margin: 10px auto;
                }
            }
        }
        .bumbum {
            .product-title {
                font-size: 12px;
                font-weight: 300;
                margin: 13px;
                text-align: center;
                &:hover {
                    cursor: pointer;
                }
            }
            .product-price {
                padding: 7px;
                border-top: 1px solid #f3f3f3;
                margin: 10px 0;
                border-bottom: 1px solid #f3f3f3;
                span {
                    font-size: 13px;
                    font-weight: 300;
                }
            }
            .product-dealer {
                font-size: 11px;
                margin: 0 0 6px;
                text-align: left;
                span {
                    color: #28a745;
                }
            }
        }
    }
}
